* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.main-visual {
	width:960px;
	margin: 0 auto;
	height: 470px;
}
.space {
  width: 960px;
  height: 50px;
}
.main-block{
	width: 960px;
	margin: 0 auto;
}

.main-block1 {
	width: 300px;
	height: 370px;
	float: left;
	background-size: cover;
	border: 1px solid;

}
.block1picture {
  background-image: url(img/flow01.png);
  width: 280px;
  height: 200px;
  background-size: cover;
  margin: 10px;

}
.main-block2 {
	width: 290px;
	height: 370px;
	margin: 0 30px;
	float: left;
	border: 1px solid;
}
.block2picture {
  background-image: url(img/flow02.png);
  width: 280px;
  height: 200px;
  background-size: cover;
  margin: 10px 10px;
}
.main-block3 {
	width: 290px;
	height: 370px;
	margin: 0 auto;
	float: left;
	border: 1px solid;
}
.block3picture {
  background-image: url(img/flow03.png);
  width: 280px;
  height: 200px;
  background-size: cover;
  margin: 10px;
}
.tag1{
	position: absolute;
	width:50px;
	height:27px;
	background-color: orange;
	color: white;
}
.tag2{
	position: absolute;
	width:50px;
	height:27px;
	background-color: orange;
	color: white;
}
.tag3{
	position: absolute;
	width:50px;
	height:27px;
	background-color: orange;
	color: white;
}

@media screen and (max-width: 768px){
  .main-visual {
  	width: auto;
  }
  .space{
  	width: 90%;
  }
  .main-block {
  	width: 90%;
  	margin: 0 auto;
  }

  .main-block1 {
    width: 90%;
    height: auto;
  }

  .block1picture{
  	width: 90%;
  	background-size: cover;
  	background-position: bottom;
  }

  .main-block2{
  	width: 90%;
  	margin: 20px 0 0 0;
  	height: auto;
  }
  .block2picture{
  	width: 90%;
  	background-size: cover;
  	background-position: bottom;
  }
  .main-block3{
  	width: 90%;
  	margin: 20px 0 0 0;
  	height: auto;
  }
  .block3picture{
  	width: 90%;
  	background-size: cover;
  	background-position: bottom;
  }}